 /*
        #2de1fc azulzinho
        #2afc98 verdinho
        #16c172 verde

        Defina fontes diferentes para o seu nome e para a descrição que você criou;
        Defina uma cor base de background do seu Portfólio Web;
        Altere o estilo das tags que você usou para destacar algumas informações, como sua nacionalidade
         e a cidade/estado onde mora;
        oloque tamanhos diferentes para os elementos da lista de habilidades que você criou. Lembre-se de
         usar classes para cada um dos elementos;
         
        */

        body{
            background-color: #214f4b;
            color: #fff;
        }

        a{
           text-decoration: nome;
           color: #2de1fc;
        }

        /* 
        Coloque seu nome, sua foto e a descrição que você escreveu sobre você dentro de blocos;
        A descrição deve ficar ao lado da foto;
        Centralize seu nome na página;
        Use padding e coloque uma cor de fundo na sua foto que seja diferente da cor de fundo do resto da página;
        Adicione margin e padding nos elementos que julgar necessário;
        Coloque estilo somente nos itens ímpares da lista das suas habilidades. */